.TimeBox {
    background: #D8D8D8;
    color: #4A4A4A;
    height: 204px;
    width: 216px;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
    display: flex;
    margin-bottom: 24px;
}

.TimeBox_highlight {
    outline: #008C7D solid 2px;
}

.TimeBox:not(:last-child) {
    margin-right: 24px;
}

.TimeBox-daylight {
    width: 24px;
    height: 100%;
}

.TimeBox-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 192px;
}

.TimeBox-header {
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.Timebox-header-place {
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.TimeBox-datetime {
    text-align: center;
}

.TimeBox-datetime .TimeBox-time a {
    text-decoration: none;
    color: #4A4A4A;
    font-size: 3em;
    font-weight: 300;
}

.TimeBox-datetime .TimeBox-time a:hover {
    color: #008C7D;
}

.TimeBox-datetime .TimeBox-time input[type="text"] {
    font-size: 3em;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    margin: 0;
    border: 0;
    width: 100%;
    appearance: none;
    box-shadow: none;
    outline: none;
    text-align: center;
}

.TimeBox-datetime .TimeBox-time input[type="text"].invalid {
    color: #cc0000;
}

.TimeBox-datetime .TimeBox-date {
    text-transform: uppercase;
}

.TimeBox-timezone {
    font-weight: 700;
    text-align: right;
}

.TimeBox-timezone-offset {
    font-weight: 100;
}

.TimeBox-close svg {
    height: 14px;
    width: 14px;
}

.TimeBox-close:hover {
    fill: #008C7D;
}